# Lab | Pandas

Objective: practice how to use the pandas library in Python for data analysis and manipulation.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [60]:
import pandas as pd
import numpy as np
customer = pd.read_csv('customer.csv') #if the file is in the same directory, you do not need to state a path
customer

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
customer.dtypes
#many of these are not appropriate, value and no complaints should be numbers

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [62]:
customer.isna().sum() # so lots of potentially messy data!!!
# looks like lots of blanks at bottom - these will need to be removed first

Customer                     2937
ST                           2937
GENDER                       3054
Education                    2937
Customer Lifetime Value      2940
Income                       2937
Monthly Premium Auto         2937
Number of Open Complaints    2937
Policy Type                  2937
Vehicle Class                2937
Total Claim Amount           2937
dtype: int64

In [63]:
#remove duplicate empty lines
customer = customer.drop_duplicates()

In [64]:
customer.isna().sum() #most of the duplicates were empty rows

Customer                       1
ST                             1
GENDER                       118
Education                      1
Customer Lifetime Value        4
Income                         1
Monthly Premium Auto           1
Number of Open Complaints      1
Policy Type                    1
Vehicle Class                  1
Total Claim Amount             1
dtype: int64

In [65]:
#delete the remaining empty line, or could this have been done originally rather than removing duplicates?
customer = customer[customer['Customer'].isna()==False]
customer.isna().sum()

Customer                       0
ST                             0
GENDER                       117
Education                      0
Customer Lifetime Value        3
Income                         0
Monthly Premium Auto           0
Number of Open Complaints      0
Policy Type                    0
Vehicle Class                  0
Total Claim Amount             0
dtype: int64

In [66]:
customer.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [67]:
customer

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03%,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [68]:
customer['Customer Lifetime Value'] = customer['Customer Lifetime Value'].str.rstrip('%').astype('float') / 100.0
#super code from Val

In [69]:
customer

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.8618,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.0765,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,3059.5503,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,20314.9976,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,3239.1247,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,4626.8011,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,8997.0402,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [70]:
customer['Customer Lifetime Value'] =  pd.to_numeric(customer['Customer Lifetime Value'], errors='coerce')
customer.isna().sum()

Customer                       0
ST                             0
GENDER                       117
Education                      0
Customer Lifetime Value        3
Income                         0
Monthly Premium Auto           0
Number of Open Complaints      0
Policy Type                    0
Vehicle Class                  0
Total Claim Amount             0
dtype: int64

In [71]:
customer['Customer Lifetime Value'] = customer['Customer Lifetime Value'].fillna(0) #replaced with zero
customer.isna().sum()

Customer                       0
ST                             0
GENDER                       117
Education                      0
Customer Lifetime Value        0
Income                         0
Monthly Premium Auto           0
Number of Open Complaints      0
Policy Type                    0
Vehicle Class                  0
Total Claim Amount             0
dtype: int64

In [72]:
customer.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [73]:
customer['Number of Open Complaints'].unique() # assume that the middle number is the number of complaints?

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00'],
      dtype=object)

In [74]:
#ST,GENDER,Education,Policy Type,Vehicle Class are all categories
customer['Education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor'], dtype=object)

In [75]:
customer['Education'].value_counts(dropna=False)

Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: Education, dtype: int64

In [76]:
customer['ST'].value_counts(dropna=False)

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

In [77]:
customer['GENDER'].value_counts(dropna=False)

F         457
M         413
NaN       117
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64

In [78]:
customer['Policy Type'].value_counts(dropna=False)

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

In [79]:
customer['Vehicle Class'].value_counts(dropna=False)

Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: Vehicle Class, dtype: int64

In [80]:
import statistics as stat
customer['Customer Lifetime Value'].median()

5849.3215

In [81]:
stat.median(customer['Customer Lifetime Value'])

5849.3215

In [82]:
customer['Income'].max()

99960.0

In [83]:
stat.stdev(customer['Income'])

30469.427060401842

In [84]:
round(customer.mean(numeric_only=True),1) # returns them all together

Customer Lifetime Value     7914.7
Income                     39295.7
Monthly Premium Auto         193.2
Total Claim Amount           405.0
dtype: float64

In [85]:
round(customer.std(numeric_only=True),1)

Customer Lifetime Value     6439.4
Income                     30469.4
Monthly Premium Auto        1601.2
Total Claim Amount           293.0
dtype: float64

In [86]:
customer.quantile([0.25,0.5,0.75],numeric_only=True)

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
0.25,4019.75275,14072.0,68.0,202.157702
0.50,5849.32150,36234.0,83.0,354.729129
0.75,8945.20995,64631.0,109.5,532.800000

In [ ]:
#those at lower incomes generate a higher value as a proportion of their income
#they also pay a larger proportion of their income as a premium
#they also claim less as a proportion of their lifetime value

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [50]:
# Your code here
customer['ST'].value_counts(dropna=False)

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

In [54]:
less_common_places = customer['ST'].value_counts()
less_common_places

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

In [55]:
less_common_places = pd.DataFrame(customer['ST'].value_counts()) # turns it into a new Dataframe
less_common_places

             ST
Oregon      320
California  211
Arizona     186
Cali        120
Nevada       98
Washington   81
WA           30
AZ           25

In [58]:
less_common_places.iloc[-5:] # returns the lowest 5 values

             ST
Cali        120
Nevada       98
Washington   81
WA           30
AZ           25

In [89]:
less_common_places.sort_values('ST').iloc[:5]

             ST
AZ           25
WA           30
Washington   81
Nevada       98
Cali        120

### Exercise 2

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [59]:
# Your code here
customer.quantile([0.25,0.5,0.75],numeric_only=True)

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
0.25,4019.75275,14072.0,68.0,202.157702
0.50,5849.32150,36234.0,83.0,354.729129
0.75,8945.20995,64631.0,109.5,532.800000

In [91]:
high_claims = customer[customer['Total Claim Amount']>532.80] # filters the customers
high_claims

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
17,OE15005,Cali,NaN,College,3945.2416,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,NaN,Bachelor,2450.1910,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,NaN,Bachelor,3946.3721,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
...,...,...,...,...,...,...,...,...,...,...,...
1059,YG44474,Oregon,M,College,14014.7213,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945
1061,RY92647,Cali,F,Bachelor,10506.7717,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,546.524896
1068,GS98873,Arizona,F,Bachelor,3239.1247,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,4626.8011,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,8997.0402,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [92]:
round(high_claims.mean(numeric_only=True),1)

Customer Lifetime Value     9086.9
Income                     23677.3
Monthly Premium Auto         165.2
Total Claim Amount           782.2
dtype: float64

In [98]:
#for reference, whole dataset
round(customer.mean(numeric_only=True),1)

Customer Lifetime Value     7914.7
Income                     39295.7
Monthly Premium Auto         193.2
Total Claim Amount           405.0
dtype: float64

In [99]:
high_claims.quantile([0.25,0.5,0.75],numeric_only=True)

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
0.25,4723.957925,0.00,99.00,606.521741
0.50,7781.768250,18807.00,114.00,679.597985
0.75,10544.299275,42423.75,133.25,851.400000

In [100]:
#for reference, whole dataset
customer.quantile([0.25,0.5,0.75],numeric_only=True)

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
0.25,4019.75275,14072.0,68.0,202.157702
0.50,5849.32150,36234.0,83.0,354.729129
0.75,8945.20995,64631.0,109.5,532.800000

In [93]:
high_claims['ST'].value_counts(dropna=False)

Oregon        90
California    65
Arizona       40
Nevada        29
Cali          21
WA            10
AZ             9
Name: ST, dtype: int64

In [94]:
high_claims['GENDER'].value_counts(dropna=False)

F         115
M         100
NaN        26
Male       16
female      5
Femal       2
Name: GENDER, dtype: int64

In [95]:
high_claims['Education'].value_counts(dropna=False)

Bachelor                85
High School or Below    85
College                 82
Master                   8
Doctor                   4
Name: Education, dtype: int64

In [96]:
high_claims['Policy Type'].value_counts(dropna=False)

Personal Auto     191
Corporate Auto     60
Special Auto       13
Name: Policy Type, dtype: int64

In [97]:
high_claims['Vehicle Class'].value_counts(dropna=False)

SUV              101
Four-Door Car     69
Two-Door Car      33
Sports Car        31
Luxury SUV        19
Luxury Car        11
Name: Vehicle Class, dtype: int64

### Exercise 3

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [101]:
# Your code here
customer['Policy Type'].value_counts(dropna=False)

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

### Exercise 4

The sales team wants to know if customers with Personal Auto have a income less than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [103]:
# Your code here
Personal = customer.loc[customer['Policy Type']=='Personal Auto'] # filters the customers
Corporate = customer.loc[customer['Policy Type']=='Corporate Auto']
Personal

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,0.0000,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,High School or Below,5363.0765,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,8256.2978,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1065,XD85577,Cali,M,Bachelor,2842.2669,69417.0,73.0,1/1/00,Personal Auto,Four-Door Car,30.874869
1066,TM65736,Oregon,M,Master,3059.5503,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,20314.9976,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,3239.1247,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1070,MY31220,California,F,College,8997.0402,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [104]:
display(Personal['Income'].mean())
display(Corporate['Income'].mean())

38180.69871794872

41390.31196581197